# 판다스의 모든것!!

In [ ]:
# 처음으로 파이썬 프로그램을 설치할 때 주로 다양한 형태로 되어 있는 파일들을 열어서 보고 싶을때는 판다스(Pandas)를 사용하면 된다.
# Pandas는 하나의 패키지라고 보시면 되시고, 다양한 모듈이 존재하며 다양한 파일들을 읽는 함수들을 가지고 있다.

import pandas as pd

# 판다스의 데이터프레임 (DataFrame)

In [ ]:
# 예시. 
# 간단한 1 ~ 10으로 구성된 리스트를 데이터프레임으로 저장함.
s = pd.DataFrame([1, 2, 3, 4, 5, 6, 7 ,8, 9 ,10])
print(s)

In [ ]:
# 예시. 
# 간단한 'ㄱ' ~ 'ㅁ'으로 구성된 리스트를 데이터프레임으로 저장함.
t = pd.DataFrame(['ㄱ', 'ㄴ', 'ㄷ', 'ㄹ', 'ㅁ', 'ㅂ', 'ㅅ', 'ㅈ', 'ㅊ', 'ㅋ'])
print(t)

# 열 기준으로 두개(이상)의 데이터프레임을 결합할 때는...

# pd.concat() 방법 또는 pd.merge() 방법
### 1) pd.concat( )  방법

In [ ]:
# 예시1.
# pd.concat --> concatenation(=> '결합 하자!'란 뜻이다!)

df1 = pd.DataFrame(
    {
    "A": ["A0", "A1", "A2", "A3"],
    "B": ["B0", "B1", "B2", "B3"],
    "C": ["C0", "C1", "C2", "C3"],
    "D": ["D0", "D1", "D2", "D3"],
    }, index=[0, 1, 2, 3],)

df2 = pd.DataFrame(
    {
    "A": ["A4", "A5", "A6", "A7"],
    "B": ["B4", "B5", "B6", "B7"],
    "C": ["C4", "C5", "C6", "C7"],
    "D": ["D4", "D5", "D6", "D7"],
    }, index=[4, 5, 6, 7],)


df3 = pd.DataFrame(
    {
    "A": ["A8", "A9", "A10", "A11"],
    "B": ["B8", "B9", "B10", "B11"],
    "C": ["C8", "C9", "C10", "C11"],
     "D": ["D8", "D9", "D10", "D11"],
     }, index=[8, 9, 10, 11],)

print(df1)
print("*" * 30)
print(df2)
print("*" * 30)
print(df3)

frames = [df1, df2, df3]   # 모든 데이터프레임을 하나의 리스트로 저장함.

result1 = pd.concat(frames) # 우리가 리스트에 담긴 데이터프레임을 하나의 데이터프레임으로 결합할 때 pd.concat()를 사용한다. 
print("*" * 30)
print(result1)


result2 = pd.concat(frames, keys = ['x','y','z']) # result1 처럼 간단하게 concat( )을 적용하면 인덱스 순서대로 결합되지만,
                                                  # 만약 각각 어디서 , 어떤 또는 몇개의 데이터프레임으로 결합했는지 구분하기 쉽게
                                                  # 인덱스를 하나더 추가할 수 있다.
                                                  # 이때 keys = [ (리스트명) ]을 추가로 옵션을 설정하면 된다.
print("*" * 30)
print(result2)

In [ ]:
print(result2.loc['x']) # 첫 번째 데이터프레임을 의미한다.
print("*" * 30)
print(result2.loc['y']) # 두 번째 데이터프레임을 의미한다.
print("*" * 30)
print(result2.loc['z']) # 세 번째 데이터프레임을 의미한다.

### 2) pd.merge( ) 방법

In [ ]:
# 예시2. --> pd.merge()  사용법

left = pd.DataFrame(                 # left란 첫 번째 데이터프레임
    {
    "key": ["K0", "K1", "K2", "K3"], # key란 첫 번째 열과 값들
    "A":   ["A0", "A1", "A2", "A3"], # A란 두 번째 열과 값들
    "B":   ["B0", "B1", "B2", "B3"], # B란 세 번째 열과 값들
    })


right = pd.DataFrame(                # right란 첫 번째 데이터프레임
    {
    "key": ["K0", "K1", "K2", "K3"], # key란 첫 번째 열과 값들. 단, left에 있는 key변수와 동일하다.
    "C":   ["C0", "C1", "C2", "C3"], # C란 두 번째 열과 값들
    "D":   ["D0", "D1", "D2", "D3"], # D란 세 번째 열과 값들
    })


result = pd.merge(left, right, on = "key") # pd.concat()와 유사하지만 merge에는 조건이 하나 있다.
                                           # pd.merge()를 사용하고 싶을때는 공통 변수 또는 공통 키값이 존재해야한다.
                                           # 위 예시처럼 left와 right처럼 key란 공통 변수와 값이 있어서
                                           # merge를 사용할 수 있다.
            
print(result)

In [ ]:
# 예시3. 코로나-백신 접종 사례

first = pd.DataFrame(                                         # first 첫 번째 데이터프레임
    {
    "이름": ["김건일", "홍길동", "강민재", "이철수"],         # '이름'란 key변수로 설정하였다.
    "나이": [  "19",    "24",      "10",     "44"],           # '나이'란 두 번째 열과 값들
    "전화번호": ["1234", "5678", "9999", "1004"],             # '전화번호'란 세 번째 열과 값들
    })

second = pd.DataFrame(                                        # second란 두 번째 데이터프레임
    {
    "이름": ["김건일", "홍길동", "강민재", "이철수"],         # '이름'란 key변수로 설정하였다.
    "주소": [  "서울", "경기도", "강원도",   "인천"],         # '주소'란 두 번째 열과 값들
    "혈액형": ["A형",  "B형",    "AB형",    "O형"],           # '혈액형'란 세 번째 열과 값들
    "백신 1차 접종": ["예", "아니오","예", "예"],             # '백신 1차 접종'란 네 번째 열과 값들
    "백신 2차 접종": ["아니오", "아니오","예", "아니오"],     # '백신 2차 접종'란 다섯 번째 열과 값들
    })

hospital = pd.merge(first, second, on = '이름')               # first와 second의 key를 참조하는 변수는 '이름'이다.
print(hospital)

# 데이터프레임을 재구조화(Reshape)하고 싶을 때는...

# stack()과 unstack()  -->  사전적 의미는 '쌓아 올리다!'

In [ ]:
# 예시1. stack() 활용
matrix = pd.DataFrame([
                      [1, 2, 3], # 첫 번째 리스트이고, 인덱스 순서도 지키고 있어 0,1, 2 인덱싱을 가지고 있다.
                      [4, 5, 6], # 두 번째 리스트이고, 인덱스 순서도 지키고 있어 0,1, 2 인덱싱을 가지고 있다.
                      [7, 8, 9]  # 세 번째 리스트이고, 인덱스 순서도 지키고 있어 0,1, 2 인덱싱을 가지고 있다.
                      ])
print("새로 생성한 Matrix 데이터프레임")
print(matrix)
print("*" * 30) 
print(matrix.shape)             # matrix구조를 보면 3 by 3의 행열로 되어있다. 'shape'는 구조를 보고 싶을 때 주로 사용함.
print("*" * 30) 
print(matrix.stack())           # stack은 쌓아 올리는 개념이며 예시처럼 한 줄로 순서를 지키며 쌓아 올렸다.
print("*" * 30) 
print("원본의 데이터프레임")
print(matrix.stack().unstack()) # 만약 stack을 적용한 변수나 실제 파일이 이러한 형태로 구조화되어 있다면,
                                # unstack()을 입력하면 원본의 데이터페르임으로 복원할 수 있다.

# Melt의 활용법

### melt() 는 ID 변수를 기준으로 원래 데이터셋에 있던 여러개의 컬럼 이름을 '변수' 칼럼에 위에서 아래로 길게 쌓아놓고, 'value' 컬럼에 ID와 variable에 해당하는 값을 넣어주는 식으로 데이터를 재구조화합니다.

출처: https://rfriend.tistory.com/278 [R, Python 분석과 프로그래밍의 친구 (by R Friend)]

In [ ]:
# 예시 1.
order = pd.DataFrame({'고객ID' : ['고객1', '고객1', '고객2', '고객2'], 
                      '제품명' : ['컴퓨터', '의자', '컴퓨터', '의자'],
                      '수량'   : [ 1,        2,      3,        4],
                      '가격'   : [100,      200,     300,    400]}
                )

print(order)
print("*" * 30)
print(pd.melt(order, id_vars=['고객ID', '제품명']))   # id_vars는 merge처럼 어떤 key변수를 참조하여 분류할것인가?이다.
                                                      # 그래서 위 예시는 고객ID와 제품별로 구분하여 각각 '수량'과 '가격'을 검색하여 출력한다.
print("*"*30)
print(pd.melt(order, id_vars=['고객ID','제품명'], var_name='변수별', value_name='값')) # var_name은 '변수명'을 의미한다.
                                                                                       # value_name은 한 줄로 나열된 값들의 제목을 의미한다.

In [ ]:
# 예시 2.
p = pd.DataFrame({'기업명' : ['LG전자', '삼성전자', '애플', 'SK하이닉스'], 
                  '제품명' : ['LG그램 15', '삼성 이언 15', '아이폰12프로', 'P1 NVME m.2 SSD'],
                  '수량'   : [ 1000,     3000,       2500,        4000],
                  '가격'   : [10000,    30000,      25000,       40000]}
                     )

print(p)
print("*" * 30)
print(pd.melt(p, id_vars=['기업명', '제품명']))   # id_vars는 merge처럼 어떤 key변수를 참조하여 분류할것인가?이다.
                                                      # 그래서 위 예시는 고객ID와 제품별로 구분하여 각각 '수량'과 '가격'을 검색하여 출력한다.
print("*"*30)
print(pd.melt(p, id_vars=['기업명','제품명'], var_name='변수별', value_name='값')) # var_name은 '변수명'을 의미한다.
                                                                                       # value_name은 한 줄로 나열된 값들의 제목을 의미한다.

# .T 활용 (Transpose) -->  데이터프레임의 행열 위치만 바꾸고 싶을때

In [ ]:
# 예시 1.
data1 = pd.DataFrame([[1, 2, 3],
                     [4, 5, 6],
                     [7, 8, 9]])

print(data1)    # 원본 데이터
print("*" * 30)
print(data1.T)  # 행열의 위치를 바꾼 데이터 (행 --> 열
               #                            열 --> 행 )

In [ ]:
# 예시 2.
data2 = pd.DataFrame([[1, 2, 3],
                     [4, 5, 6],
                     [7, 8, 9],
                     [10, 11, 12],
                     [13, 14, 15],
                     [16, 17, 18],
                     [19, 20, 21],
                     [22, 23, 24]])

print(data2)    # 원본 데이터
print("*" * 30)
print(data2.T)  # 행열의 위치를 바꾼 데이터 (행 --> 열
               #                            열 --> 행 )

# DataFrame을 생성해서 데이터값을 안전하게 파일로 저장하는 방법

In [ ]:
# 예시0. 리스트 형태를 사용하여 행열을 만들 수 있다.
# 판다스로 데이터프레임(DataFrame)을 만들어서 엑셀처럼 행열로 검색할 수 있다.

df = pd.DataFrame([[18, '남','김천고'],            # 첫 번째 리스트 예시 - 나이 / 성별 / 고등학교
                   [19, '여', '울산고']],          # 두 번째 리스트 예시
                 index=['진현', '민지'],           # 지금까지는 인덱스를 숫자를 떠오를수 있지만, 옆처럼 사람의 이름으로도 가능하다!
                 columns=['나이', '성별', '학교']) # 컬럼명을 선언할 수 있다.

print(df)

In [ ]:
# 예시1.
# 인덱스도 초기화할 수 있다.
# 위 예시처럼 이름으로 구성된 인덱스를 새로운 컬럼으로 저장할 수 있다.

df = df.reset_index()     # 인덱스를 초기화해준다! --> 숫자 형태로 인덱싱된다.
print(df)                 # index란 새로운 컬럼이 생겼다. index 컬럼은 이름으로 구성되어 있으니, 컬럼명을 '이름'이라고 편집할 수 있다.
print("*"*30)
df.columns = ['이름', '나이', ' 성별', '학교'] # 컬럼명을 모두 수정할 수도 있다.
print(df)

# CSV파일로 저장하는 방법

In [ ]:
# 예시2.
# .to_csv() --> 우리가 현재까지 간단하게 생성한 데이터프레임을 csv파일로 저장하여 필요할때 다른 사람에게 공유할 수 있다는 장점을 가지고 있다.

df.to_csv('/content/drive/MyDrive/ColabNotebooks/Basic_Python/profile.csv', encoding = 'euc-kr') # encoding은 선택이지만 한글깨짐 현상을 피할 수 있다.

# Excel파일로 저장하는 방법

In [ ]:
# 예시3.
# .to_excel() --> excel파일로 저장할 때.

df.to_excel('/content/drive/MyDrive/ColabNotebooks/Basic_Python/profile.xlsx', encoding = 'euc-kr') # encoding은 선택이지만 한글깨짐 현상을 피할 수 있다.

### 마이크로소프트 엑셀 파일 중 CSV파일을 주로 데이터 분석할 때 많이 씁니다.
### (파일명).csv 이라고 되어 있는 파일들은 csv파일을 의미하고, ','(콤마)로 열(Columns)을 구분하여 분리되어 있다.

In [ ]:
# 예시1. csv파일 읽기
# 현재 test.csv 파일은 A란 고등학교 1반에서 30명 학생들의 기말고사 시험 점수라고 보시고, 국.영.수.과.사 별로 총 5과목이 있는 데이터이다.
test = pd.read_csv('/content/drive/MyDrive/ColabNotebooks/Basic_Python/test.csv', encoding = 'utf-8') 

test.head() # test란 데이터셋에 첫 5개의 점수들을 출력함.

In [ ]:
# 참고
test.tail() # test란 데이터셋에 마지막 5개의 점수들을 출력함.

In [ ]:
# 예시2. info()를 활용하여 (i)어떤 과목별로 있는지, (ii) 실제값 ('Non-Null')의 갯수, (iii) 각 열별로 데이터 타입을 볼 수 있다.
test.info()

In [ ]:
# 예시3. describe() <==> 데이터에 대한 평균값 / 표준편차값 / 최대값 / 최솟값 등을 출력해준다.
#        기준은 각 열별로 계산해서 보여준다.
test.describe()

# CSV파일 같은 '행열'로 구성되어 있는 데이터에서 특정한 값만 보고 싶을 때

### 총 3개의 방법이 있습니다. 편하신대로 택1개만 하셔도 좋습니다.

### 첫번째 검색하는 스타일

In [ ]:
# 예시 4. 총 30명의 '국어' 점수만 보고 싶을때
test['국어'] # 열 제목을 기준으로 검색할 때는 [ ] (대 괄호)를 사용하시면 됩니다.
             # 그외에 기호는 판다스 범위 내에서는 사용하지 않습니다. 예: ( ) , { } 는 어떠한 열 제목 검색할 때는 사용안함.

In [ ]:
# 예시 5. '수학' 점수만 검색
test['수학']

In [ ]:
# 예시 6. '영어' 점수만 검색
test['영어']

### 두 번째 검색 스타일

In [ ]:
# 예시 7. 
test.국어 # test란 변수에 '.(컬럼명)' --> '.국어' / '.영어' / '.수학' 등

In [ ]:
# 예시 8. 
test.수학 # test란 변수에 '.(컬럼명)' --> '.국어' / '.영어' / '.수학' 등

In [ ]:
# 예시 8. 
test.영어

# 세 번째 검색 스타일 (이 방법을 권장드립니다!)

In [ ]:
# 예시 9.     .loc[ 행, 열 (제목) ] 또는 .iloc[ 행, 열 (인덱스 번호) ]

print(test.loc[ :, '국어']) # '국어'란 열을 지정하고, 행(row)는 전체를 보고 싶을 때는 ':' (콜론)을 사용할 수 있다.
print("*" * 30)
print(test.loc[ :, '영어']) # '영어'란 열을 지정하고, 행(row)는 전체를 보고 싶을 때는 ':' (콜론)을 사용할 수 있다.
print("*" * 30)
print(test.loc[ :, '수학']) # '영어'란 열을 지정하고, 행(row)는 전체를 보고 싶을 때는 ':' (콜론)을 사용할 수 있다.

In [ ]:
# 예시 10. iloc [ 행 , 열 ]
test.iloc[:, 0] # loc 와 iloc의 차이는 'i'를 의미한 것은 index번호를 나타낸다.
                # 그래서 컬럼명이 아니고 컬럼명의 인덱스 순서 기준으로 입력해야 한다.
                # '국어'는 0번째 인덱스 번호를 가지고 있다.

In [ ]:
# 예시 11. iloc [ 행 , 열 ]
test.iloc[:, 1] # loc 와 iloc의 차이는 'i'를 의미한 것은 index번호를 나타낸다.
                # 그래서 컬럼명이 아니고 컬럼명의 인덱스 순서 기준으로 입력해야 한다.
                # '수학'은 1번째 인덱스 번호를 가지고 있다.

In [ ]:
# 예시 12. iloc [ 행 , 열 ]
test.iloc[:, 2] # loc 와 iloc의 차이는 'i'를 의미한 것은 index번호를 나타낸다.
                # 그래서 컬럼명이 아니고 컬럼명의 인덱스 순서 기준으로 입력해야 한다.
                # '영어'는 2번째 인덱스 번호를 가지고 있다.

# 특정한 값(들)만 검색하고 싶을때는...?

In [ ]:
# 예시 13.
# 첫 번째 스타일 이시면
print(test['국어'][0:5])   # .[ 컬럼명] [ 열 범위 ]  --> .['국어'][0:10]
print(test['수학'][10:15]) # .[ 컬럼명] [ 열 범위 ]  --> .['수학'][10:15]
print(test['영어'][0:5])

In [ ]:
# 예시 14.
# 두 번째 스타일 이시면
print(test.국어[0:5])   # .컬럼명[ 열 범위 ]  --> .국어[0:10]
                        # 주의: 이때는 컬럼명 입력시 ' ' (작은 따옴표) 또는 "" (큰 따옴표가 필요없다)
print("*" * 30)
print(test.수학[15:20])
print("*" * 30)
print(test.영어[5:10])

In [ ]:
# 예시 15. 
# 세 번째 스타일 이시면
# iloc 또는 loc로 특정한 값도 검색이 가능함.

print(test.loc[0:2, '국어']) # 첫 3개의 국어 점수만 출력함
print("*" * 30)
print(test.loc[6:10, '영어']) # 6번 ~ 10번까지의 영어 점수만 출력함
print("*" * 30)
print(test.loc[4:6, '수학']) # 4번 ~ 6번까지의 수학 점수만 출력함

In [ ]:
# 예시 16. 
# 세 번째 스타일의 장점은 여러가지의 컬럼명 (2개이상)도 검색이 가능하다.

print(test.loc[0:20, ['국어','영어']]) # 첫 20개의 국어와 영어 점수만 출력함
print("*" * 30)
print(test.loc[10:20, ['수학','국어']]) # 10번 ~ 20번까지의 수학과 국어 점수만 출력함

# 빈값(결측값)이 존재하는지 알고 싶을때

In [ ]:
# 예시 17.   .isnull() ---> 하나하나 데이터값을 읽고 불리언(Boolean)으로 (1) 빈값이 있으면 'True',
#                                                                        (2) 빈값이 없으면 'False'.
test.isnull() # 각 과목별로 2, 3개 이상의 빈값이 존재한다.

In [ ]:
# 예시 18. null값이 하나라도 존재하는지?

test.isnull().values.any() # 1. .isnull()을 이용하여 시각적으로 true란 값이 있는지 찾아본다. 

                           #    그러나 데이터가 크면 클수록 시각적으로 모든 데이터는 볼 수가 없다.
    
                           # 2. 그래서 .values.any()라고 입력하면 하나의 빈값이라도 있으면 'True'라고 출력된다.

In [ ]:
# 예시 19. null값을 갯수를 쉽게 찾을 수 있다.

print(test.isnull().sum())          # 각 과목별로 총 빈값으로 출력해준다.
                                    # 이때 합값(즉, 다 더했는 값)은 .sum()을 이용한다.
    
print(test.isnull().sum().sum())    # 그래서 총 몇개의 빈값이 있는지 궁금하시면 추가로 .sum()을 붙이면 총 빈값을 출력함.

In [ ]:
# 예시 20. na값 <==> null값하고 같은 개념이다. na는 'Not Available'이라고 '찾을 수 없다 / 구할 수 없다'란 의미이다.

print(test.isna())
print("*" * 40)
print(test.isna().values.sum())

# 빈값(결측값)을 대신 채우는 방법은?

In [ ]:
# 예시 21. 국어
print(test.loc[6,'국어'])    # 현재 국어 점수 중 6번째 값이 NaN(빈값)이 존재한다.
test.loc[6, '국어'] = 56     # 빈값에 임의로 56점이라고 삽입했다.
print(test.loc[6,'국어'])    # 그래서 다시 검색을 하면 정상적으로 56이 입력되어 있다.

In [ ]:
# 예시 22. 수학
print(test.loc[10, '수학']) # 현재는 국어 점수 중 10번째 값이 NaN(빈값)이 존재한다.
test.loc[10, '수학'] = 96   # 빈값에 임의로 96점이라고 삽입했다.
print(test.loc[10, '수학']) # 그래서 다시 검색을 하면 정상적으로 96이 입력되어 있다.

In [ ]:
# Q1. test란 데이터셋에서 빈값을 하나 선택하여 하나의 점수값을 입력해보세요.
#     검색 스타일은 자유롭게 사용하셔도 좋습니다.

# 빈값(결측값) 채우기 방법

# 참조: https://rfriend.tistory.com/262

In [ ]:
test = pd.read_csv('/content/drive/MyDrive/ColabNotebooks/Basic_Python/test.csv', encoding = 'utf-8') 
test.head()

In [ ]:
# 예시 23. 결측값을 특정값 하나로만 통일하기
test2 = test.fillna(0) # .fillna( 특정한 값) --> fill은 '무언가를 채우다'란 의미이다. 그래서 fillna는 모든 빈값(na/null)은 0으로 채웁니다.
test2.head()

In [ ]:
# 예시 24. 결측값을 전값을 기준으로 앞으로 똑같이 채우는 방법

print(test.head(10))
test3 = test.fillna(method = 'ffill') # .fillna( method = '(참조 기준)')
                                      # method = 'ffill' --> 이전 행에 값이 있으며 그 값으로 채우자!
                                      # method = 'pad' <==>  method = 'ffill'
print("*"*40)
print(test3.head(10))

In [ ]:
# 예시 25. 결측값을 뒷 채워나가기 방법

print(test.head(10))
test4 = test.fillna(method = 'bfill') # .fillna( method = '(참조 기준)')
                                      # method = 'bfill' --> 이전 행에 값이 있으며 그 값으로 채우자!
                                      # method = 'backfill' <==>  method = 'ffill'
print("*" * 40)
print(test4.head(10))

In [ ]:
# 예시 26. 빈값에 평균값으로 채우기 (각 컬럼별로)

print(test.describe())
print("*" * 40)
print(test.head(10))                      # 첫 10개의 데이터 (결측값이 존재함)
test5 = test.fillna(test.mean())          # 모든 결측값에는 각 컬럼별로 평균값으로 대체하자!
#test5 = test.fillna(round(test.mean()))  # 모든 결측값에는 각 컬럼별로 평균값으로 대체하고 소수점을 반올림(round)로 추가로 삽입
print("*" * 40)
print(test5.head(10))                     # 첫 10개의 데이터

In [ ]:
# 예시 27. 빈값에 평균값으로 채우는데 특정한 컬럼만 선택하여 채우기

print(test.mean()['국어']) # 총 국어 점수의 평균값
print("*" * 40)
print(test.head(10))                      # 첫 10개의 데이터 (결측값이 존재함)
test5 = test.fillna(test.mean()['국어'])  # 모든 결측값에는 '국어' 컬럼의 평균값 기준으로 모든 빈값에 대체하자!
print("*" * 40)
print(test5.head(10))                     # 첫 10개의 데이터 (결측값을 일부 수정한 데이터)

In [ ]:
# 예시 28. 빈값에 평균값으로 채우는데 특정한 컬럼들만 선택하여 채우기

print(test.mean()['국어':'영어'])         # 각각 국어와 영어 점수의 평균값
print("*" * 40)
print(test.head(10))                      # 첫 10개의 데이터 (결측값이 존재함)
test5 = test.fillna(test.mean()['국어':'영어'])  # 모든 결측값에는 '국어' 컬럼의 평균값 기준으로 모든 빈값에 대체하자!
print("*" * 40)
print(test5.head(10))                     # 첫 10개의 데이터 (결측값을 일부 수정한 데이터)

# 문자값들을 숫자로 변경하고 싶을때

In [ ]:
# 예시 29. '성별'이란 컬럼에서는 '남자'와 '여자'값만 존재한다. 그래서 남자면 1, 여자면 0으로 대체하고자 한다.
test6 = test
test6.loc[:, '성별'].replace('남자', 0, inplace = True) # loc를 사용하여 쉽게 검색하고, .replace( 기존값, 대체값)을 입력하면 된다. 
test6.loc[:, '성별'].replace('여자', 1, inplace = True) # 주의: inplace = True를 생략하게 된다면 수정한 값만 출력되고 실제로는 저장이 안되어 있다.
                                                        #      그래서 inplace를 True라고 설정하면 수정한 값 뿐만아니라 그외 컬럼값들도 보존할 수 있다.
test6.head() # 첫 5개의 데이터 출력

In [ ]:
# Q2. '성별'이란 컬럼에서는 '남자'와 '여자'값만 존재한다. 남자면 M, 여자면 F로 변경해서 첫 5개의 데이터를 출력해보세요.
test7 = test
test7.loc[:, '성별'].replace(     ,      , inplace = True)  # 빈칸1. 채우기
test7.loc[:, '성별'].replace(     ,      , inplace = True)  # 빈칸2. 채우기
                                                       
test7.head() # 첫 5개의 데이터 출력

# 숫자값들을 문자로 변경하고 싶을때

In [ ]:
# 예시 30. '성별'이란 컬럼에서는 '남자'와 '여자'값만 존재한다. 그래서 남자면 1, 여자면 0으로 대체하고자 한다.
test8 = test
test8.loc[:, '생년월일'] = test8.loc[:, '생년월일'].map(str)
test8.loc[:, '생년월일'].replace(r'^9\d+', 'Z', regex = True, inplace = True) 
test8.loc[:, '생년월일'].replace(r'^8\d+', 'M', regex = True, inplace = True) 
                                                        
test8.head(10)

# 새로운 컬럼(열)도 생성할 수 있다.

In [ ]:
# 예시 31. 
# test변수안에 '총점'이란 컬럼을 생성하고 값은 각각 국.수.영.과.사 점수의 합값을 덧셈(+)으로 사용하면 된다.
test = test.fillna(50) # 모든 빈값을 50점으로 통일함
test['총점'] = test['국어'] + test['수학'] + test['영어'] + test['과학'] + test['사회']
test.head()

In [ ]:
# 예시 32. 
# test변수안에 '총점'에서 평균값도 '평균'이란 새로운 변수도 생성이 가능하다.
test['GPA'] = test['총점'] / 5 # 총점수의 최대값은 500점이고 최솟값은 0점 사이 이다. 
                               # 그래서 500점 / 5과목 = 총점의 평균 점수를 각 학생별로 알 수 있다.
test.head()

### Groupby 활용 --> 특정한 컬럼 기준으로 구분하여 다른 컬럼값들을 비교할 때 주로 사용함

In [ ]:
# 예시 33.
group1 = test['GPA'].groupby(test['성별']) # GPA란 총점의 평균 점수를 보고 싶은데, 우리는 성별로 비교를 하고 싶다.
                                          # 즉, 총 30명이란 데이터에서 과연 여성이 남성보다 평균적으로 점수가 높은지,
                                          # 아니면 남성이 여성보다 더 높은 점수를 받았는지가 궁금하다!
round(group1.mean(), 2)                    # 그래서 groupby( 변수명['컬럼명']) 을 적용하여 각 성별로 평균을 반올림 소수점 2자리까지 출력함.

In [ ]:
# 예시 34.
group2 = test['GPA'].groupby(test['학력']) # GPA란 총점의 평균 점수를 보고 싶은데, 우리는 학력로 비교를 하고 싶다.
                                           # 즉, 총 30명이란 데이터에서 과연 어떤 학력에서 가장 높은 평균 점수를 받았을까?
                                           #  대졸? 고졸? 석사? 박사?
round(group2.mean(), 2)                    # 그래서 groupby( 변수명['컬럼명']) 을 적용하여 각 학력별로 평균을 반올림 소수점 2자리까지 출력함.

In [ ]:
# Q3. 위 예시처럼 'GPA'를 알고싶은데, 이번에는 성(이름)별로 구분하시고 평균값(mean)은 반올림(round)를 사용하셔서 소수점 2개까지 허용해서 출력해보세요.

group3 =                              # 빈칸1. 채우기  

round(                )               # 빈칸2. 채우기

# .sort_values 활용 방법 --> 내림차순 VS 오름차순

In [ ]:
# 예시1. 
test = pd.read_csv('/content/drive/MyDrive/ColabNotebooks/Basic_Python/test.csv', encoding = 'utf-8') 
test10 = pd.DataFrame([test['국어'],
                       test['수학'],
                       test['영어'],
                       test['과학'],
                       test['사회']]
                     )

test10 = test10.T

print(test10.head(10))
print("*" * 40)
print(test10.sort_values(by = "국어").head(10))                     # 국어 점수 기준으로 오름차순의 첫 10번째 출력
print("*"* 40)
print(test10.sort_values(by = "국어", ascending = False).head(10)) # 국어 점수 기준으로 내림차순의 첫 10번째 출력

In [ ]:
# 예시 2.
print(test10.sort_values(by = "수학").head(10))                     # 수학 점수 기준으로 오름차순의 첫 10번째 출력
print("*"* 40)
print(test10.sort_values(by = "수학", ascending = False).head(10)) # 수학 점수 기준으로 내림차순의 첫 10번째 출력

In [ ]:
# Q4. 영어 점수 기준으로 오름차순으로 점수를 출력해주세요.

test10.sort_values(by = "       ", ascending =       ) # 빈칸 채우기 1.

In [ ]:
# 예시 3.
# 참고
print(test10.sort_values(by = ["국어", "수학"]).head(10))                     # 국어 점수 기준으로 먼저 오름차순을 나열하고
                                                                              # 수학 점수 기준을 그 다음 오름차순으로 나열하여 
                                                                              # 첫 10번째 출력
print("*"* 40)
print(test10.sort_values(by = ["국어", "수학"], ascending = False).head(10)) # 국어 점수 기준으로 먼저 내림차순을 나열하고
                                                                              # 수학 점수 기준을 그 다음 내림차순으로 나열하여 
                                                                              # 첫 10번째 출력